html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reset____________________________________________________________________*/

html::-webkit-scrollbar {
	display: none;
  }
  html{
	-ms-overflow-style: none;
	scrollbar-width: none;
  }

body,
html {
	height: 100%;
	margin: 0;
}

.bg {
	background-image: linear-gradient(to bottom, transparent, rgb(0, 0, 0)),
		url('img/adrian-Xft-JdC-Jbc-unsplash.jpg');

	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face {
	font-family: 'made_soulmazeitalic';
	src: url('font/made_soulmaze_italic_personal_use-webfont.woff2')
			format('woff2'),
		url('font/made_soulmaze_italic_personal_use-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'made_soulmaze_outlineitalic';
	src: url('font/made_soulmaze_outline_italic_personal_use-webfont.woff2')
			format('woff2'),
		url('font/made_soulmaze_outline_italic_personal_use-webfont.woff')
			format('woff');
	font-weight: normal;
	font-style: normal;
}
:root {
	--primary-color: rgba(0, 0, 0, 0.85);
	--overlay-color: rgba(0, 0, 0, 0.85);
	--menu-speed: 0.75s;
}

.police {
	font-family: 'made_soulmazeitalic';
	color: #ff1717;
}
.police2 {
	font-family: 'made_soulmaze_outlineitalic';
	color: rgb(255, 255, 255);
}

header li {
	display: inline-block;
}

header > div > li > a {
	font-family: 'made_soulmazeitalic';
	color: #ff1717;
	display: inline-block;
	font-weight: lighter;
	padding: 0 60px;
	margin-top: 150px;
}

.m_title {
	padding-top: 200px;
	margin-right: 2%;
}
.m_title2 {
	margin-left: 1%;
}
.title {
	font-size: 10vw;
}

.title2 {
	font-size: 5vw;
}

.fs_text {
	font-size: 2vw;
	text-align: center;
}
.text_center {
	text-align: center;
}
.m_text {
	margin-top: 3vw;
}

.color_back {
	background-color: rgb(0, 0, 0);
}

.container {
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 0 3rem;
}

.showcase {
	height: 100vh;
	position: relative;
}

.showcase .showcase-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #ff1717;
	transition: width 0.3s;
}

.link:hover::after {
	width: 100%;
	transition: width 0.3s;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
	color: #ff1717;
}

.form-control {
	width: 45vw;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: rgb(255, 255, 255);
	font-size: 15px;
	margin-bottom: 16px;
}

input {
	height: 45px;
}

form .submit {
	background: #ff1717;
	border-color: transparent;
}

form .submit:hover {
	background-color: #ac0404;
	cursor: pointer;
}

/* logo social media */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.wrapper .button {
	display: inline-block;
	height: 60px;
	width: 60px;
	margin: 0 5px;
	overflow: hidden;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-out;
}
.wrapper .button:hover {
	width: 200px;
}
.wrapper .button .icon {
	display: inline-block;
	height: 60px;
	width: 60px;
	text-align: center;
	border-radius: 50px;
	box-sizing: border-box;
	line-height: 60px;
	transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon {
	background: #ff1717;
}
.wrapper .button:nth-child(2):hover .icon {
	background: #ff1717;
}

.wrapper .button .icon i {
	font-size: 25px;
	line-height: 60px;
	transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
	color: #fff;
}
.wrapper .button span {
	font-size: 20px;
	font-weight: 500;
	line-height: 60px;
	margin-left: 10px;
	transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
	color: #ff1717;
}
.wrapper .button:nth-child(2) span {
	color: #ff1717;
}
.m_bottom {
	margin-bottom: 10%;
}

/* image hover */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1104 {
	font-family: 'Raleway', Arial, sans-serif;
	position: relative;
	overflow: hidden;
	margin: 10px;
	min-width: 100px;
	max-width: 700px;
	max-height: 394px;
	margin-top: 100px;
	background: #000000;
	color: #ffffff;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1104 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
	max-width: 100%;
	position: relative;
	opacity: 0.4;
}

figure.snip1104 figcaption {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

figure.snip1104 h2 {
	position: absolute;
	left: 0px;
	right: 0px;
	display: inline-block;
	background: #000000;
	-webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
	transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
	padding: 12px 5px;
	margin: 0;
	top: 50%;
	text-transform: uppercase;
	font-weight: 400;
}

figure.snip1104 h2 span {
	font-weight: 800;
}

figure.snip1104:before {
	height: 100%;
	width: 110%;
	top: 0;
	left: 0;
	content: '';
	background: #ffffff;
	position: absolute;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: rotate(110deg) translateY(-50%);
	transform: rotate(110deg) translateY(-50%);
}

figure.snip1104 a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}

figure.snip1104:hover img,
figure.snip1104.hover img {
	opacity: 1;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
	-webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
	transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
	-webkit-transform: rotate(110deg) translateY(-150%);
	transform: rotate(110deg) translateY(-150%);
}
